<section class="acerca-de">
  <div class="seccion container">
    <div class="row seccion-oscura">
      <h3 id="sobre-mi" class="titulo-seccion">Sobre Mi</h3>
    </div>
    <div class="row">
      <div class="col-10">
        <!-- <p class="texto-descripcion">Estudiante de la Tecnicatura en Desarrollo de Software en Universidad de La Punta y Estudiante en Argentina Programa</p> -->
        <p class="texto-descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur, nunc at
          mattis faucibus, mi sem volutpat ipsum, vitae posuere massa dui ut massa. Ut hendrerit quis erat eget
          dignissim. Aenean venenatis, risus vitae egestas gravida, risus risus dapibus risus, in molestie augue metus
          non leo.</p>
      </div>
      <div class="col-2 icono-ed-del">
        <i class="bi bi-pencil" title="Editar"></i>
      </div>
    </div>
  </div>
</section>