<nav class="barra-navegacion seccion-oscura">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3 d-flex justify-content-start">
        <img id="logo-ap" src="../../../assets/img/favicon-Argentina-Programa.ico" alt="Logo Argentina Programa">
        #YoProgramo
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <!-- <h1>Argentina Programa</h1> -->
        <a href="https://twitter.com/manu95gutierrez" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="https://www.instagram.com/manu.gutierrez95/" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100002335237494" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://github.com/Manug95" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-github"></i>
        </a>
      </div>
      <div class="clo-12 col-md-3 d-flex justify-content-end">
        <button type="button" class="btn btn-warning" (click)="openLogin()" *ngIf="!loginStatus">Login</button>
        <button class="btn btn-warning" (click)="closeSesion()" *ngIf="!loginStatus">Logout</button>
      </div>
    </div>
  </div>
</nav>