<section class="seccion seccion-banner container">
  <div class="row">
    <div class="col banner">
      <img src="../../../assets/img/banner.jpg" alt="Foto-banner" id="banner-img">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="foto-perfil">
        <img src="../../../assets/img/foto-perfil.jpg" alt="Foto de Perfil de Manuel Gutiérrez" id="foto-perfil">
        <i class="bi bi-pencil" title="Edit" *ngIf="loginStatus"></i>
      </div>
      <h2 id="mi-nombre"> {{fullName}} </h2>
      <div>
        <p>{{dob.getDate()}} / {{dob.getMonth()}}  /  {{dob.getFullYear()}} ({{calculateAge()}} Años)</p>
        <p>{{adress.getStreet()}}, {{adress.getCity()}}, {{adress.getCountry()}}</p>
        <!-- <p>e-mail</p> -->
      </div>
    </div>
  </div>
</section>