<section class="seccion seccion-banner container">
  <div class="row">
    <div class="col banner">
      <img src="../../../assets/img/banner.jpg" alt="Foto-banner" id="banner-img">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="foto-perfil">
        <img src="../../../assets/img/foto-perfil.jpg" alt="Foto de Perfil de Manuel Gutiérrez" id="foto-perfil">
        <i class="bi bi-pencil" title="Editar"></i>
      </div>
      <h2 id="mi-nombre"> {{name}} </h2>
      <div>
        <p>27 Años</p>
        <p>San Luis (Argentina)</p>
        <!-- <p>e-mail: manu95gutierrez@gmail.com</p> -->
      </div>
    </div>
  </div>
</section>