<section class="educacion">

  <div class="seccion container">
    <div class="row seccion-oscura">
      <div class="col-8 col-sm-6">
        <h2 class="titulo-seccion">Educación</h2>
      </div>
      <div class="col-4 col-sm-6 icono-add" *ngIf="loginStatus">
        <i class="bi bi-plus-square" title="Añadir"></i>
      </div>
    </div>

    <!-- Subsecciones de Educacion -->
    <div class="row sub-seccion" *ngFor="let institution of institutions; let i=index">
      <div class="col-12 col-sm-3 logo">
        <img src={{institution.getUrlLogo()}} alt="Institution Logo">
      </div>
      <div class="col-10 col-sm-8">
        <h3 class="titulo-subseccion">{{ institution.getInstitutionName() }}</h3>
        <p class="texto-descripcion">{{ institution.getTitle() }}</p>
        <p class="texto-descripcion">{{ institution.getPeriod() }}</p>
      </div>
      <div class="col-2 col-sm-1 icono-ed-del" *ngIf="loginStatus">
        <i class="bi bi-pencil" title="Edit"></i>
        <i class="bi bi-trash" title="Delete"></i>
      </div>
      <div class="col-12" *ngIf="i < institutions.length-1">
        <hr>
      </div>
    </div>
  </div>

</section>