<section class="proyectos">
  <div class="seccion container">
    <div class="row seccion-oscura">
      <div class="col-10 col-sm-10"> <!-- antes era col-8 col-sm-6 -->
        <h2 class="titulo-seccion">Proyectos</h2>
      </div>
      <div class="col-2 col-sm-2 icono-add" > <!-- antes era col-4 col-sm-6 --> <!-- *ngIf="loginStatus" -->
        <i class="bi bi-plus-square" title="Add"></i>
      </div>
    </div>

    <div class="row sub-seccion" *ngFor="let proyect of proyects; let i=index">
      <div class="col-10 col-sm-11">
        <h4 class="proyecto">
          {{ proyect.getProyectName() }}
          <a href={{proyect.getLink()}} target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
          </a>
        </h4>
        <p>{{ proyect.getDescription() }}</p>
        <p>{{ proyect.getPeriod() }}</p>
      </div>
      <div class="col-2 col-sm-1 icono-ed-del" > <!-- *ngIf="loginStatus" -->
        <i class="bi bi-pencil" title="Edit"></i>
        <i class="bi bi-trash" title="Delete"></i>
      </div>
    </div>

  </div>
</section>