<section class="habilidades">

  <div class="seccion container">

    <div class="row seccion-oscura">
      <div class="col-10 col-sm-10"> <!-- antes era col-8 col-sm-6 -->
        <h2 class="titulo-seccion">Hard & Soft Skills</h2>
      </div>
      <div class="col-2 col-sm-2 icono-add" > <!-- antes era col-4 col-sm-6 --> <!-- *ngIf="loginStatus" -->
        <i class="bi bi-plus-square" title="Add"></i>
      </div>
    </div>

    <div class="row">

      <div
       class="col-12 chart-container" 
       *ngFor="let skill of skills; let i = index"
       [ngClass]="!esLaUltimaHabilidad(i) ? 'col-sm-6' : ''"
      >
        <h4>
          {{skill.getSkillName()}}
          <span class="icono-ed-del-chart" > <!-- *ngIf="loginStatus" -->
            <i class="bi bi-pencil" title="Edit"></i>
            <i class="bi bi-trash" title="Delete"></i>
          </span>
        </h4>

        <div>
          <app-pie-chart [skill]="skill.getSkillName()" [progress]="skill.getProgress()" [i]="i"></app-pie-chart>
        </div>

        <div class="circulito-container">
          <span class="circulito color1"></span>
          <span class="habilidad-label">Aprendido</span>

          <span class="circulito color2"></span>
          <span class="habilidad-label">Por Aprender</span>
        </div>

      </div>

    </div>
    
  </div>

</section>