/* Estilos Generales */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.seccion-oscura {
    background-color: #1b1b32;
    color: white;
}

.seccion-clara {
    background-color: white;
    color: #1b1b32;
}

.seccion .seccion-oscura {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.texto-descripcion {
    padding-left: 25px;
    margin-bottom: 8px;
}

.seccion {
    border: 1px solid darkgrey;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px 5px darkgrey;
}

.sub-seccion {
    margin-top: 10px;
}

.titulo-seccion {
    padding-left: 90px;
}

.titulo-subseccion {
    padding-left: 25px;
}

.icono-ed-del, .icono-add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icono-ed-del i, .icono-add i {
    padding-left: 10px;
    font-size: 20px;
}

.bi:hover {
    font-size: 23px;
    color: #ffc107;
}

/* Seccion Educacion ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.logo img {
    width: 125px;
    height: 125px;
    margin-left: 25px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Seccion Habilidades e Idiomas------------------------------------------------------------------------------------------------------------------------------------------------------ */

.progress {
    margin-top: 10px;
}

.habilidad, .idioma {
    text-align: center;
}

.progress-bar {
    background-color: #ffc107!important;
    color: #1b1b32!important;
    font-weight: bold;
}

/* Estilos Responsivos -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
    .barra-navegacion .row div.justify-content-start, .barra-navegacion .row div.justify-content-end {
        justify-content: center!important;
    }

    .logo img {
        width: 100px;
        height: 100px;
        margin-left: 12px;
    }

    #banner-img {
        height: 250px;
    }
}

@media screen and (max-width: 576px) {
    #foto-perfil {
        width: 150px;
        height: 150px;
    }

    .foto-perfil {
        margin-left: 50px;
    }

    .foto-perfil i {
        left: 150px;
    }

    .titulo-seccion {
        font-size: 20px;
        text-align: center;
    }

    .icono-ed-del {
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        font-size: 15px;
    }

    #mi-nombre {
        padding-left: 25px;
        font-size: 30px;
    }

    .progress {
        margin-top: 20px;
    }
}

/* @media screnn and (min-width: 992px) {
    #foto-perfil {
        width: 200px;
        height: 200px;
    }
} */