<section class="experiencia">
  <div class="seccion container">
    <div class="row seccion-oscura">
      <div class="col-8 col-sm-6">
        <h2 class="titulo-seccion">Experiencia</h2>
      </div>
      <div class="col-4 col-sm-6 icono-add">
        <i class="bi bi-plus-square" title="Añadir"></i>
      </div>
    </div>
    <!-- Subsecciones de Experiencia -->
    <div class="row sub-seccion">
      <div class="col-12 col-sm-3 logo">
        <img src="../../../assets/img/metalurgica-pampa.jpg" alt="Logo Instituto Centro de Enseñanza Agrotécnico">
      </div>
      <div class="col-10 col-sm-8">
        <h3 class="titulo-subseccion">Metalúrgica Pampa S.R.L</h3>
        <p class="texto-descripcion">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur, nunc at mattis faucibus, mi sem
          volutpat ipsum, vitae posuere massa dui ut massa. Ut hendrerit quis erat eget dignissim. Aenean venenatis,
          risus vitae egestas gravida, risus risus dapibus risus, in molestie augue metus non leo. Nulla facilisi.
        </p>
      </div>
      <div class="col-2 col-sm-1 icono-ed-del">
        <i class="bi bi-pencil" title="Editar"></i>
        <i class="bi bi-trash" title="Borrar"></i>
      </div>
    </div>
  </div>
</section>